.floating-div{
    justify-content: space-around;
    box-shadow: var(--boxShadow);
    display: flex;
    border-radius: 17px;
    background: white;
    align-items: center;
    padding: 0px 28px 0px 0px;
    height: 4.5rem;
}

.floating-div>img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: scale(0.4);
}

.floating-div>span{
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}